.canvas-assembly-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }

.canvas {
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
    margin-top: 20px;
    margin-bottom: 10px;
}