.canvas-assembly-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }
  
.canvas {
    display:block
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    margin-top: 20px;
}